.vscode/
checkpoints/recognition_3/
checkpoints/recognition_4/

venv/
.venv/
.env/
env/

notebooks/dataset_landmark_refined
notebooks/dataset_landmark_refined.zip
notebooks/raw
notebooks/raw.zip

checkpoints/alignment/align_best_model.pth
checkpoints/alignment/best_landmark_model.pth
checkpoints/alignment/best_model.pth
checkpoints/alignment/landmark_epoch_1.pth
checkpoints/alignment/best_pupil_model.pth
checkpoints/alignment/best_landmark_model_tmp.pth

checkpoints/detection/face_detector_epoch_9.pth

data/105_classes_pins_dataset/
data/105_classes_pins_dataset.zip

**/__pycache__/
*.py[cod]